<mat-card>
  <mat-card-title>Product Search</mat-card-title>
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Search for product title</mat-label>
          <input matInput type="text" placeholder="Product" formControlName="title">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="list$ | async as list;">
  <mat-card-title>Product List</mat-card-title>
  <mat-card-content *ngIf="list.length > 0; else emptyState">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of list">
        {{ item.title }} {{ item.price }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <ng-template #emptyState>
    <p>Oops there are no products</p>
  </ng-template>
</mat-card>
